# Gradle files
.gradle/
build/
**/build/
gradle-app.setting
gradle-wrapper.jar

# IntelliJ IDEA/Android Studio specific files
.idea/
*.iml
*.ipr
*.iws
out/

# MacOS specific files
.DS_Store

# Log files
*.log

# Kotlin specific
*.class
*.kotlin_metadata
*.kotlin_module
*.jar

# Android specific (if applicable)
*.apk
*.ap_
.cxx/
*.so
*.keystore
captured_images/

# Dependency directories
/node_modules/
/bower_components/

# Compiled files
*.dex
*.o
*.obj
*.pyc
*.pyo
*.pyd
*.pdb

# Test results
/test-results/
/coverage/

# IDE settings
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries/
.idea/jsLibraryMappings.xml

# Gradle specific


# Maven specific
target/

# Java-specific
*.war
*.ear
*.project
*.classpath
/.settings/
/bin/

# Temp files
*.tmp
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace
*~
Thumbs.db

# Kotlin linter (detekt, ktlint) reports
detekt-report.xml
detekt-report.html
ktlint-report.txt
